<!-- Carrusel de productos destacados -->
<div class="container my-5">
  <h3 class="text-center mb-4">Productos destacados</h3>

  <div class="container d-flex">
    <div class="row">

      <!-- Producto 1 (activo) -->
      <div class="col">
        <img src="../img/juguetes/3.jpg" class="d-block w-100" alt="Producto 1">
      </div>

      <!-- Producto 2 -->
      <div class="col">
        <img src="../img/lenceria/6.jpg" class="d-block w-100" alt="Producto 2">
      </div>
      
      <!-- Producto 3 -->
      <div class="col">
        <img src="../img/bondage/9b.jpg" class="d-block w-100" alt="Producto 3">
      </div>

    </div>
  </div>
</div>
